<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/output.css">
        <title>Games Collection</title>
    </head>
    <body>
        <%- include('header') %>
        <div class="w-full flex flex-col items-center">
            <h1 class="text-2xl py-8">Admin Dashboard</h1>
        </div>
        <main class="flex flex-wrap justify-center items-center">
            <div class="game-form-container flex flex-wrap justify-center items-start">
                <%- include('partials/updateGameInfo.ejs') %>
            </div>
        </main>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const toggleForms = (containerClass, buttonClass) => {
                const buttons = document.querySelectorAll(buttonClass);
                const forms = document.querySelectorAll(`${containerClass} form`);
                
                buttons.forEach((button) => {
                    button.addEventListener('click', (e) => {
                        buttons.forEach((btn) => {
                            btn.classList.remove('active');
                        });
                        button.classList.add('active');
                        forms.forEach((form) => {
                            form.classList.add('hidden');
                        });
                        let id = button.getAttribute('data-game');
                        const form = document.querySelector(`${containerClass} .form-${id}`);
                        form.classList.remove('hidden');
                    });
                });
            };

            toggleForms('.game-form-container', '.game-btn');
            toggleForms('.dev-form-container', '.dev-btn');
            toggleForms('.genre-form-container', '.genre-btn');
        });
    </script>
</html>