<header class="w-full p-3 flex justify-center border-b border-black">
    <nav class="flex gap-8">
        <a href="/" class="hover:text-indigo-400 hover:underline">Current Playlist</a>
        <a href="/admin" class="hover:text-indigo-400 hover:underline">Admin Dashboard</a>
    </nav>
</header>